* {
  box-sizing: border-box; }

html,
body {
  background-color: white; }
  html .lists,
  body .lists {
    display: flex;
    justify-content: flex-end; }
    html .lists .list,
    body .lists .list {
      display: flex;
      list-style-type: none;
      height: 90px;
      align-items: center;
      justify-content: center; }
      html .lists .list:hover,
      body .lists .list:hover {
        text-decoration: none; }
      html .lists .list .list-item .item,
      body .lists .list .list-item .item {
        font-size: 30px;
        color: black;
        margin-left: 25px;
        text-decoration: none;
        font-weight: bold;
        border-width: 10px;
        margin-right: 50px; }
        html .lists .list .list-item .item:hover,
        body .lists .list .list-item .item:hover {
          color: rgba(139, 137, 137, 0.267); }
  html .subtitle,
  body .subtitle {
    width: 100%;
    height: 1px;
    background: #b1a8a82e;
    margin: 5px 0; }
  html .container,
  body .container {
    display: flex;
    flex-direction: column; }
    html .container .img-text,
    body .container .img-text {
      display: flex;
      flex-direction: row; }
      @media only screen and (min-width: 320px) {
        html .container .img-text,
        body .container .img-text {
          flex-direction: column; } }
      html .container .img-text .picture,
      body .container .img-text .picture {
        flex: 1; }
        html .container .img-text .picture .picture-item,
        body .container .img-text .picture .picture-item {
          width: 100%;
          height: 100%; }
      html .container .img-text .content,
      body .container .img-text .content {
        flex: 1; }
  html .title,
  body .title {
    margin-left: 40px;
    font-size: 80px;
    color: lightgrey;
    font-family: system-ui; }
    @media only screen and (min-width: 320px) {
      html .title,
      body .title {
        font-size: 90px; } }
